.hover-card {
  transition: all 0.2s ease;
}

.hover-card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef !important;
  transform: scale(1.05);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.publication-fig {
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  .publication-fig {
    max-width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .publication-fig {
    max-width: 200px;
  }
}
